@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Satisfy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    cursor: url("images/cursor-cropped.svg") 0 0, auto;
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.design-container{
    width: 110vh;
    height: 90vh;
    background: linear-gradient(145deg, #ff4747, #e63b3b);
    border-radius: 9vh;
    box-shadow: 20px 20px 60px #d9d9d9,
    -20px -20px 60px #ffffff;
    display:flex;
    flex-direction: column;
    border: 3px solid black;
}

#grid-container{
    width: 85%;
    height: 85%;
    background-color: white;
    margin: 0 auto;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    cursor: url(images/crosshair.svg) 16 16, auto;
}

.grid-row{
    display: flex;
    flex-direction: row;
    flex: 1;
    background: white;
}

.grid-cell{
    flex: 1;
    background: white;
}

.buttons-container, .bottom-area{
    width: 100%;
    height:8vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons-container{
    padding: 0 4vh;
}

.grid-buttons, .other-buttons{
    padding: 0 4vh;
    justify-content: center;
    display: flex;
    gap: 2vh;
}

.grid-buttons{
    flex: 1;
    justify-content: left;
}

.other-buttons{
    flex: 2;
    justify-content: right;
    transform: translate(0.5vh, 0.5vh);

}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5vh;
    background: #FBCA1F;
    border: 1px solid black;
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    height: 4vh;
    padding: 0.5vh;
    cursor: url(images/pointer-cropped.svg) 0 0, auto;
  }
  
  button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
  }
  
  button.active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
    color:rgb(255, 0, 0)
  }

.circle-left,.circle-right{
    width: 8vh;
    height: 8vh;
    border-radius: 50%;
    background: linear-gradient(145deg, #e6e6e6, #ffffff);
    box-shadow:  1px 1px 2px #d9d9d9,
             -1px -1px 2px #ffffff;
    margin: 2vh 2vh;
    border: 0.1px solid rgb(216, 216, 216);
}

.circle-left{
    transform: translate(-1vh, -2vh);
}

.circle-right{
    transform: translate(1vh, -2vh);
}

.title{
    font-family: 'Satisfy', cursive;
    font-size: 4vh;
    text-align: center;
    color: transparent;
    background: #f7c201f6;
    -webkit-background-clip: text;
    text-shadow: 0px 1px 0px rgb(255, 225, 0), 0px -1px 0px rgba(0, 0, 0, 0.7);
}

.colorpicker-container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#colorpicker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: 1.4em;
    height: 1.7em;
    border: none;
    cursor: url(images/pointer-cropped.svg) 0 0, auto;
  }
  #colorpicker::-webkit-color-swatch {
    border-radius: 50%;
    border: 0.2vh solid #000000;
  }
  #colorpicker::-moz-color-swatch {
    border-radius: 50%;
    border: 0.2vh solid #000000;
  }

label{
    font-family: 'Press Start 2P', cursive;
    font-size: 1vh;
    cursor: url(images/pointer-cropped.svg) 0 0, auto;
}